numpy
pillow
pyyaml
omegaconf
tqdm
einops
scipy
librosa
audioread
soundfile
matplotlib
packaging
eyed3
requests
pytorch_lightning
torchvision
opencv_python
gradio
reamber
opt-einsum
jsonargparse[signatures]>=4.27.7